<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let productId of cart.productIds">
                <td>{{ cart.items[productId].product.title }}</td>
                <td>{{ cart.items[productId].quantity }}</td>
            </tr> -->
            <tr *ngFor="let item of cart.items">
                <td>{{ item.product.title }}</td>
                <td>
                    <app-product-quantity [product]="item.product" [shopping-cart]="cart"></app-product-quantity>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.totalPrice | currency:'INR':symbol }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>{{ cart.totalPrice | currency:'INR':symbol }}</th>
            </tr>
        </tfoot>
    </table>
</ng-container>